<div class="title">What's it like out?</div>

<% if user_signed_in? %>
  <h4>Don't see a message? Enter your <%= link_to "Profile Info", new_location_path  %> </h4>
  <div class="message">
    <h2> <%= @message.middle %> </h2>
  </div>
<% end %>
