<div class="title">What's it like out?</div>

<% if user_signed_in? %>
  <p>Don't see a message? Enter your <%= link_to "Profile Info", new_location_path  %> </p>
  <div class="jumbotron">
    <div class="container">
      <div class="blockhead">
        <h3></h3>
      </div>
      <div class="blockbody">
        <h2> <%= @message.middle %> </h2>
      </div>
    </div>
  </div>
<% end %>