<div class="title">What's it like out?</div>
<h2>Be prepared for the day's weather</h2>
<div class="instruction">First time here? Once you sign up, enter your <%= link_to "Profile Info", new_location_path  %> </div>
