<h1>Welcome <%= current_user.first_name %> !</h1>
<h2>See today's  <%= link_to "recommendation", root_path %></h2>
<div class="jumbotron">
  <div class="container">
    <div class="blockHead">
      <h3>Your current location</h3>
    </div>
    <div class="blockBody">
      <h2>Boston MA</h2>
    </div>
  </div>
</div>
