<h1 class="title">What's it like out?</h1>
<h2> See today's <%= link_to "recommendation", new_user_path %> for <%= current_user.first_name %></h2>
<div class="jumbotron">
  <div class="container">
    <div class="blockhead">
      <h3>Your current location</h3>
    </div>
    <div class="blockbody">
      <h2><%= @location.city %> <%= @location.state %></h2>
    </div>
  </div>
</div>
