@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$lightblue: #dbecec;
$darkslategrey: #2b3149;
$navajowhite: rgba(211, 155, 104, 0.8);
$navajowhitetransparent: rgba(211, 155, 104, 0.5);
$brown: rgba(132, 103, 91, 0.8);
$browntransparent: rgba(132, 103, 91, 0.5);
$white: #fff;
$black: #000000;

body {
  background: image-url("pexels-photo-305937.jpg") no-repeat center center fixed;
  background-size: cover;
}

p {
  color: $black;
  font-size: 1em;
  padding: 1em;
}

.notice,
.alert {
  color: $lightblue;
  margin: 0;
  padding: 0;
}

.title {
  color: $lightblue;
  font-family: 'Lato', sans-serif;
  font-size: 8em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.top-bar {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

h1 {
  color: $lightblue;
  font-weight: bold;
  text-align: center;
}

h2,
h3 {
  color: $lightblue;
  font-family: 'Poppins', sans_serif;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
}

.instruction {
  color: $brown;
  font-size: 1.5em;
  margin: 0 1em;
  text-align: center;
}

.sign-header {
  font-family: 'Lato', sans-serif;
}

label,
a {
  background-color: transparent;
  color: $darkslategrey;
  font-size: 1em;
}

.notice,
.alert  {
  color: $lightblue;
  font-size: 20px;
}

.jumbotron {
  margin: 4em;
  text-align: center;
}

.container {
  display: inline-block;
  margin: auto;
}

.blockhead {
  background: $brown;
  padding: 20px;
  text-align: left;
}

.blockbody {
  background: $browntransparent;
  color: $white;
  margin: 0;
  padding: 45px;
  text-align: center;
}

.form-box {
  background-color: transparent;
  margin: 2% 25%;
  padding: 2em;
  width: 50%;
 }

#profile-form,
#profile-head {
  font-family: 'Lato',sans-serif;
}

.button,
input {
  background-color: $navajowhite;
  color: $white;
}

.field {
  line-height: 1;
}
