@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$lightblue: #dbecec;
$darkslategrey: #4c4857;
$darkslategreylight: rgba(43, 49, 73, 0.8);
$darkslategreytransparent: rgba(43, 49, 73, 0.5);
$navajowhite: rgba(211, 155, 104, 0.8);
$white: #fff;
$black: #000000;

body {
  background: image-url("pexels-photo-305937.jpg") no-repeat center center fixed;
}

p {
  color: $black;
  font-size: 1em;
  padding: 1em;
}

label{
  color: $black;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: $darkslategrey;
  font-size: 1em;
}

.notice,
.alert {
  color: $lightblue;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.title {
  color: $lightblue;
  font-family: 'Lato', sans-serif;
  font-size: 8em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

header {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

h1 {
  color: $lightblue;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h2,
h3 {
  color: $lightblue;
  font-family: 'Poppins', sans_serif;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.sign-header {
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  margin: 4em;
  text-align: center;
}

.box {
  display: inline-block;
}

.blockhead {
  background: $darkslategreylight;
  padding: 20px;
  text-align: left;
}

.blockbody {
  background: $darkslategreytransparent;
  color: $white;
  margin: 0;
  padding: 45px;
  text-align: center;
}

.form-box {
  background-color: transparent;
  margin: 2% 25%;
  padding: 2em;
  width: 50%;
 }

#profile-form,
#profile-head {
  font-family: 'Lato',sans-serif;
}

.button,
input {
  background-color: $navajowhite;
  color: $white;
  padding: .5em;
}

.field {
  line-height: 1;
}

.top-bar {
  background-color: transparent;
  font-size: 1.5em;
  text-align: right;
}
